/* .header-btn-login {
    border-radius: 0px;   
}

.header-register-btn {
    border-radius: 0px;
} */

.live-title-group {
    border: 1px solid #474747;
    background: #111;
    padding: 5px 10px;
    border-radius: 0px;
    border-top: 0px;
}
