/* first-page */		
.fp-center-letter {
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 1vw 0px;
}

.fp-center-letter h3 {
    font-size: 2.4vw;
    margin: 3px 0px;
}

.fp-center-letter span {
    font-size: 1.5vw;
}


.textstyle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.async-hide { 
    opacity: 0 !important
}
