.left-nav-container-m.open{
    left: 0 !important;
    .closed-nav-icon {
        transition-delay: .3s;
        opacity: 1 !important;
    }
}
.left-nav-container-m {
    overflow: inherit;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -150%;
    padding: 0 56px 0 0;
    z-index: 999998;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: left .24s;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    .closed-nav-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
        height: 35px;
        display: block;
        color: #ffffff;
        text-align: center;
        opacity: 0;
        transition: opacity .24s;
        z-index: 33;
    }
    .right-trans-box-m {
        position: absolute;
        right: 0;
        width: 56px;
        height: 100%;
        top: 0;
        z-index: 11;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    .left-menu-full-box-m {
        width: 100%;
        background-color: $headMenuColor2;
        position: relative;
        min-height: 100%;
        box-shadow: 0 0 56px 25px #000;
        .web-site-logo{
            display: flex;
            justify-content: center;
            width: 100%;
            img{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 150px;
                height: 60px;
                object-fit: contain;
            }
        }
        .left-navigate-list-view-m {
            position: absolute;
            left: 0;
            /* top: 65px; */
            float: left;
            width: 100%;
            height: calc(100% - 100px);
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 9999999;
            .provider-left-menu {
                float: left;
                width: 100%;
                .menu-provider-view{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 38px;
                    position: relative;
                    padding: 0 30px 0 30px;
                    font-size: 13px;
                    line-height: 38px;
                    border-bottom: 2px solid transparent;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 400;
                    text-transform: capitalize;
                    cursor: pointer;
                    svg {
                        width: 20px;
                        height: 20px;
                        color: $AheadMenuFontColor;
                    }
                    p {
                        margin-left: 5px;
                        color: $AheadMenuFontColor;
                        margin-bottom: 0px !important;
                    }
                }
                .menu-provider-view-active{
                    svg,p{
                        color: #ffffff !important;
                    }
                }
                .arrow-view-nav {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 30px;
                    height: 38px;
                    color: #ffffff;
                    text-align: center;
                    padding: 0;
                }
            }
        }
    }
}

.left-nav-container-m:before {
    transition-delay: .2s;
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    height: 200%;
    width: 100%;
}

.header-nav-bar-menu{
    background-color: $headMenuColor !important;
    height: 40px;
    position: fixed!important;
    top: 60px;
    left: 0px;
    width: 100%;
    z-index: 99 !important;
    text-align: center;
    display: flex;
    // align-items: center;
    // justify-content: center;
    .header-nav-bar-item-group {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            padding: 0 14px !important;
        }
        .header-nav-bar-item {
            // padding: 5px 6px;
            font-size: 15px;
            text-transform: uppercase;
            // font-weight: bold;
            svg,span {
                color: $AheadMenuFontColor !important;
                font-weight: bold;

            }
        }
        .header-nav-bar-items {
            svg,span {
                transition: color .3s;
                color: #e6e6e6 !important;
                font-weight: bold;
            }
        }
        .header-nav-bar-item:hover, .header-nav-bar-item-active {
            @extend .header-nav-bar-items;
        }
        
        .header-nav-bar-item a:hover {
            color: $headMenuFontColor !important;
        }
        
        .header-nav-bar-item a {
            color: $headMenuFontColor !important;
            font-size: 15px;
        }
    }
}

.header-navbar{
    height: 60px !important;
    .header-nav-bar-brand {
        overflow: hidden;
        // padding: 0px 3%;
        margin: 0px;
        height: 100%;
    }
    .header-nav-bar-user {
        display: flex;
        .guest-links{
            .dropdown-language{
                list-style: none;
            }
            .nav-link{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
    .header-user-info {
        display: flex;
        align-items: center;
    }
    .header-user-balance {
        padding: 12px 10px;
    }
    
    .header-user-balance h5 {
        font-size: 20px;
        margin: 0px;
    }
    .header-time-bar {
        display: flex;
        .header-clock-time {
            display: flex;
            margin: .275rem;
            height: 80%;
        }
        .header-clock-time svg {
            font-size: 30px;
            margin: 0.375rem;
        }
        .header-clock-time h1 {
            line-height: 1.4;
            margin: 0px;
        }
        .header-clock-def {
            color: $clockColor !important;
            font-weight: bold;
            line-height: 1.4;
        }
        .header-clock-mon span {
            color: $clockColor !important;
            font-weight: bold;
        }
        .header-clock-year {
            font-weight: bold;
            display: table;
            height: 100% !important;
        }
        .header-clock-year span {
            display: table-cell;
            vertical-align: middle;
            padding: 0px !important;
            font-size: 1.5rem;
        }
        
        .header-clock-date {
            margin: .375rem;
        }
    }
    .web-site-logo{
        width : 190px;
    }
    .logo-usernameid{
        display: flex !important;
    }
}
@media (max-width: 1125px) {
    .header-navbar{
        .header-time-bar {
            display: none;
        }
    }
}

@media (max-width: 1019px) {
    .header-nav-bar-menu {
        top: calc( 100% - 70px);
        width: 100vw;
        height: 70px;
        overflow-X: auto !important;
        overflow: hidden;
        position: fixed !important;
        background-color: $headMenuColor2 !important;
        .header-nav-bar-item-group a {
            padding: 10px;
            width: 100%;
        }
        span {
            color: $AheadMenuFontColor;
            font-size: .8rem;
            font-weight: 100;
        }
        svg {
            color: $AheadMenuFontColor;
            width: 100%;
            display: inherit;
            height: 1.8rem;
        }
    }
    .header-navbar{
        height: 63px !important;
        .web-site-logo{
            width: 150px !important;
        }
        .header-deposit-button, .btn-register, .btn-login, .btn-download{
            height: 30px !important;
            padding: 3px 9px !important;
            font-size: 11px;
        }

    }
}

@media (max-width: 650px) {
    .header-navbar{
        .web-site-logo{
            // width: 100px !important;
            // margin-left: 38px ;
        }
        .logo-line{
            display: none;
        }
        .logo-usernameid{
            display: block !important;
        }
    }
    .header-deposit-button-1{
        height: 20px !important;
        padding: 3px 9px !important;
        font-size: 10px;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    .header-user-info{
        h6{
            font-size: 0.8rem !important;
        }
    }
    
}

@media (max-width: 414px) {
    .header-user-balance{
        display: none;
    }
}