.sports-header-buttons{
    background-color:  $sports-background !important;
}
.sports-header-buttons:hover{
    border-color:$sports-background2 !important;
    box-shadow: 0 8px 25px -8px $sports-background2;
}

.sports-header-buttons:not([disabled]):not(.disabled):active{
    background-color:  $backgroud!important;
}

$graycolor : #abb5bf;

.sportspage_contentstyle{
    padding: 25px;
    min-height: 800px;
}
.sportspage_contentstyle, *{
    user-select:none;
}
.sports-tab-background{
    background:$sports-tab-background;
    svg{
        margin:1.2rem;
    }
}
.font-color-1{
    color: $fontColor1;
}
.font-color-2{
    color: $fontColor2;
}

.sports-see-all{
    color: $backgroud;
}

.sports-content .form-control {
    color: $backgroud;
    background:$sports-tab-background !important;
}

.sports-tab-active-background{
    background:$backgroud;
    position: relative;
    left: 42%;
    top:0.125rem;
    height: 0.125rem;
    width: 0.625rem;
    border-radius: 25%;
}

.sports-read-me{
    background: $backgroud !important;
    background-color: $backgroud !important; 
    border-color: $backgroud !important;
    color: $fontColor2;
    border-radius: 30px;
    padding: 8px;
}


.sports-align-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sports-align-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sports-background1{
    background: $sports-background1;
    border-radius:25px 25px 0px 0px
}

.sports-content {
    ::-webkit-scrollbar-thumb {
        background: $scroll-color;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
        border-radius: 20px;
        background: $scroll-color;
        opacity: 1;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}
.sports-content .main-menu.menu-light .navigation .navigation-line {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    content: "";
    height: 0.0625em !important;
    background-color: transparent;
    background-image: linear-gradient(to right, $backgroud 48.96%, rgba(49, 55, 63, 0) 100%);
}

#sports-slider{
    .swiper-container{
        .swiper-pagination{
            text-align: left !important;
            margin-left: 10px;
        }
    }
}

.sports-events-all{
    // background: $sports-background1;
    // padding: 5px;
    .color-white{
        color: white;
    }
    .text-center{
        text-align: center;
    }
    .match-id{
        // padding-left: 2.5rem;
    }
    .market-len{
        // margin-left: -1rem;
    }

    .martketHeader{
        padding : 0.5rem 1rem;
        font-size: 0.8rem;
    }
    .martketbody{
        background: $sports-background1;
        border-bottom: 1px solid;
        .sports-start-time{
            color: $graycolor !important;
            padding: 0px;
        }
        .matchid{
            div{
                color: $graycolor !important;
            }
        }
    }
}
.sports-other-markets:hover{
    border-radius: 5px;
    border: $border-color 1px solid;
}

.sports-team{
    div{
        cursor: pointer;
        color: $fontColor2;
        display: block;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    div:hover{
        color: $backgroud;
    }
}

.exchg-team{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sports-start-time{
    color: $fontColor1;
    display: flex;
    font-size: 0.8rem;
    justify-content: flex-start;
    align-items: center;
}

.sports-score-board{
    div{
        color: $backgroud;
        text-align: center;
    }
}

.betslip{
    pointer-events: none !important;
    .wrapper {
        pointer-events: all !important;
        position: relative;
    }
}
.sports-other-markets{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $sports-background;
    color: $backgroud;
    font-size: 0.8rem;
    border: $sports-background 1px solid;
    margin: 0px !important;
}

.item-center{
    display: flex;
    justify-content: center;
    align-items: center;
    .row{
        width: 100%;
        height: 100%;
        div{
            // width: 33.3333%;
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 100%;
            text-align: center;
            div{
                width: 50%;
                height: 100%;
                // margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: $sports-background;
                color: $fontColor2;
                border: $sports-background 1px solid;
                .start{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 50%;
                    color: $fontColor3;
                }
                .end{
                    .sportspage_contentstyle{
                        min-height: 800px;
                    }
                    .sportspage_contentstyle, *{
                        user-select:none;
                    }
                    .sports-content{
                        .main-menu{
                            width: 245px;
                        }
                    }
                    .font-color-1{
                        color: $fontColor1;
                    }
                    .font-color-2{
                        color: $fontColor2;
                    }
                    
                    .sports-see-all{
                        color: $backgroud;
                    }
                    .sports-tab-active-background{
                        background:$backgroud;
                        position: relative;
                        left: 42%;
                        top:0.125rem;
                        height: 0.125rem;
                        width: 0.625rem;
                        border-radius: 25%;
                    }
                    
                    .sports-read-me{
                        background: $backgroud !important;
                        background-color: $backgroud !important; 
                        border-color: $backgroud !important;
                        color: $fontColor2;
                        border-radius: 30px;
                        padding: 8px;
                    }
                    
                    
                    .sports-align-left{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .sports-align-right{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                    
                    .sports-content {
                        padding-left: 42px;
                        padding-right: 42px;
                        margin-top: 8rem;
                        background: $sports-background;
                    
                        ::-webkit-scrollbar-thumb {
                            background: $scroll-color;
                            border-radius: 20px;
                        }
                    
                        ::-webkit-scrollbar-thumb:hover {
                            border-radius: 20px;
                            background: $scroll-color;
                            opacity: 1;
                        }
                    
                        ::-webkit-scrollbar {
                            width: 7px;
                            height: 7px;
                        }
                    }
                    [dir] body.dark-layout .sports-content input.form-control:not(:focus), [dir] body.dark-layout .custom-file-label:not(:focus), [dir] body.dark-layout textarea.form-control:not(:focus) {
                        border: none;
                        border-radius: 30px;
                        background:$sports-tab-background;
                        /* border-bottom: 1px solid #8f99a3; */
                    }
                    [dir]  .sports-content .form-control:focus {
                        border: none;
                        background:$sports-tab-background !important;
                        border-radius: 30px;
                        // border-bottom: 1px solid #f9bb22;
                        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
                    }
                    
                    .sports-content .form-control:focus ~ .form-control-position svg {
                        stroke: $backgroud;
                    }
                    
                    [dir=ltr] .sports-content .main-menu.menu-light .navigation .navigation-line {
                        margin-top: 1.2em;
                        margin-bottom: 1.2em;
                        margin-left: 1.5em;
                        margin-right: 1.5em;
                        content: "";
                        height: 0.0625em;
                        background-color: transparent;
                        background-image: linear-gradient(to right, #f1ab1a 48.96%, rgba(49, 55, 63, 0) 100%);
                    }
                    
                    [dir] .vertical-layout .sports-content .main-menu.theme-dark .navigation .nav-item.active a{
                        box-shadow: 0 0 0px 0px $backgroud !important;
                        border-left: 4px solid $backgroud;
                        border-radius: 0px;
                        padding-left: 16px !important;
                    }
                    
                    
                    body.dark-layout .sports-content .main-menu-content .navigation-main .active svg{
                        color: $backgroud;
                        stroke: $backgroud;
                    }
                    
                    body.dark-layout .sports-content .main-menu-content .navigation-main .active span {
                        color: $fontColor2;
                        stroke: $fontColor2;
                    }
                    
                    body.dark-layout .sports-content .main-menu-content .navigation-main svg{
                        color: $fontColor2;
                        stroke: $fontColor2;
                    }
                    
                    body.dark-layout .sports-content .main-menu-content .navigation-main span {
                        color: $fontColor1;
                        stroke: $fontColor1;
                    }
                    
                    
                    [dir] .sports-content .main-menu.menu-light .navigation li a{
                        padding: 3px 20px !important;
                        margin: 10px 0px !important;
                    }
                    
                    [dir] .sports-content .main-menu.menu-light .navigation > li {
                        padding: 0px !important;
                    }
                    
                    [dir=ltr] body.dark-layout .sports-content .main-menu.theme-dark .navigation .nav-item.active a{
                        background: transparent !important;
                        color: $fontColor2;
                    }
                    [dir] body.dark-layout .sports-content .main-menu {
                        background-color: $sports-background !important;
                    }
                    [dir] body.dark-layout .sports-content .main-menu-content .navigation-main{
                        background-color: transparent !important;
                    }
                    #sports-slider{
                        .swiper-container{
                            .swiper-pagination{
                                text-align: left !important;
                                margin-left: 10px;
                            }
                        }
                    }
                    
                    .sports-other-markets:hover{
                        border-radius: 5px;
                        border: $border-color 1px solid;
                    }
                    
                    .sports-team{
                        div{
                            cursor: pointer;
                            color: $fontColor2;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        div:hover{
                            color: $backgroud;
                        }
                    }
                    
                    .sports-start-time{
                        color: $fontColor1;
                        display: flex;
                        font-size: 0.8rem;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .sports-score-board{
                        div{
                            font-size: 0.8rem;
                            color: $backgroud;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }
                    }
                    
                    .betslip{
                        pointer-events: none !important;
                        .wrapper {
                            pointer-events: all !important;
                        }
                    }
                    .sports-other-markets{
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $sports-background;
                        color: $backgroud;
                        font-size: 0.8rem;
                        border: $sports-background 1px solid;
                        margin: 0px !important;
                    }
                    
                    .item-center{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .row{
                            width: 100%;
                            height: 100%;
                            div{
                                // width: 33.3333%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                text-align: center;
                                div{
                                    width: 50%;
                                    height: 100%;
                                    // margin: 10px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    background: $sports-background;
                                    color: $fontColor2;
                                    border: $sports-background 1px solid;
                                    .start{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        text-align: center;
                                        width: 50%;
                                        color: $fontColor3;
                                    }
                                    .end{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        text-align: center;
                                        width: 50%;
                                    }
                                }
                                div:hover{
                                    cursor: pointer;
                                    border-radius: 5px;
                                    border: $border-color 1px solid;
                                }
                            }
                        }
                    }
                    
                    .sports-event{
                        background: $sports-background;
                        // height: calc(100% - 145px);
                    }
                    
                    .sports-country-title{
                        justify-content: flex-start;
                        display: flex;
                        align-items: center;
                        div{
                            display: inline-block;
                        }
                    }
                    
                    .sports-country-length{
                        justify-content: flex-end;
                        display: flex;
                        align-items: center;
                    }
                    .sports-tab-title{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1.3rem;
                    }
                    .sports-country-active{
                        margin-left: 2px;
                        margin-right: 2px;
                        display: flex;
                        cursor: pointer;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-top: $border-color 1px solid;
                        border-bottom: $border-color 1px solid;
                        svg{
                            color: $backgroud;
                            stroke-width: 3;
                        }
                        .sports-country-name{
                            color: $fontColor2 !important;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .sports-country-length{
                            color: $fontColor2 !important;
                        }
                    }
                    
                    .sports-featured-back{
                        max-height: 40px;
                        padding:5px 30px;
                        background: $sports-background1;
                        border-bottom: $border-color 1px solid;
                        border-top: $border-color 1px solid;
                        .sports-featured-home{
                            // color: $fontColor1 !important;
                            color: $graycolor !important;
}
                        .sports-featured-active-button{
                            color: $backgroud !important;
                        }
                        span{
                            font-size: 0.8rem;
                            cursor: pointer;
                        }
                        svg{
                            color: $fontColor1 !important;
                        }
                    }
                    .sports-background{
                        background: $sports-background;
                        // border-radius: 20px 20px 0px 0px;
                    }
                    .children-tab:hover{
                        color: $fontColor2 !important;
                        transition: transform 1s ease;
                        div{
                            animation-duration: 0.1s; 
                            animation-name: width-animation;
                            animation-fill-mode: forwards;
                            border:1px solid $backgroud !important;
                        }
                    }
                    @keyframes width-animation {
                        100% {
                          width: 100%;
                        }
                      }
                    
                    .children-tab-active{
                        color: $fontColor2 !important;
                        div{
                            border : 1px solid $backgroud !important;
                            width: 100% !important;
                        }
                    }
                    .children-tab{
                        // color: $fontColor1;
                        cursor: pointer;
                        // color: #abb5bf;
                        // padding-bottom: 10px !important;
                        display: inline-block;
                        div{
                            border :'none';
                            width: 0px;
                        }
                    }
                    
                    .sports-content{
                        padding-top: 10px;
                    }
    
                    .sports-bet-sidebar{
                        .w-100{
                            div{
                                width: 100% !important;
                            }
                        }
                        .u-color-piccolo{
                            color: $backgroud !important;
                        }
                        .betslip{
                            will-change: transform;
                            box-sizing: border-box;
                            padding: 20px 0 0;
                            margin: 0;
                            line-height: 20px;
                            position: fixed;
                            z-index: 10;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            width: 340px;
                            -ms-flex-pack: end;
                            justify-content: flex-end;
                            overflow: hidden;
                            .wrapper{
                                will-change: transform;
                                position: absolute;
                                left: 20px;
                                right: 20px;
                                bottom: 0;
                                max-height: calc(100% - 80px);
                                box-sizing: border-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex: 0 1 auto;
                                flex: 0 1 auto;
                                -ms-flex-flow: column;
                                flex-flow: column;
                                transition: all .25s ease-in-out 0ms;
                                border-top: 3px solid $backgroud;
                                box-shadow: 0 0 20px 5px rgba(0,0,0,.65);
                                background: $sports-tab-background;
                                -ms-transform: translateY(calc(100% + 20px));
                                transform: translateY(calc(100% + 20px));
                                opacity: 0;
                            }
                            .active {
                                -ms-transform: translate(0);
                                opacity: 1;
                                transform: translate(0);
                            }
                            .u-bordercolor-piccolo{
                                border-color: $backgroud !important;
                            }
                            .scrolllock{
                                overflow-y: auto;
                                overflow-x: hidden;
                            }
                            .betslip-tabs {
                                width: 100%;
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-flow: row;
                                flex-flow: row;
                                -ms-flex-wrap: nowrap;
                                flex-wrap: nowrap;
                                height: 72px;
                                .tab:hover{
                                    div{
                                        border-bottom: solid 3px rgb(134, 151, 162);
                                    }
                                }
                                .tab{
                                    div{
                                        border-bottom: solid 3px rgba(0, 0, 0, 0);
                                    }
                                }
                                .tab .active{
                                    color: $backgroud;
                                    border-bottom: solid 3px $backgroud !important;
                                    span{
                                        background-color: $backgroud;
                                    }
                                }
                                li{
                                    -ms-flex: 0 0 auto;
                                    flex: 0 0 auto;
                                    overflow: hidden;
                                    list-style: none;
                                    div{
                                        text-transform: uppercase;
                                        color: #fff;
                                        padding: 0 15px 2px;
                                        margin: 0;
                                        background: transparent;
                                        border: none;
                                        position: relative;
                                        cursor: pointer;
                                        width: 100%;
                                        height: 72px;
                                        font-size: 12px;
                                        line-height: 25px;
                                        letter-spacing: 1px;
                                        display: flex;
                                        font-weight: 700;
                                        align-items: center;
                                        .amount{
                                            display: inline-block;
                                            margin: -5px 0 -5px 5px;
                                            background: hsla(0,0%,100%,.15);
                                            color: #fff;
                                            border-radius: 12px;
                                            padding: 0 7px;
                                            text-align: center;
                                            min-width: 24px;
                                            box-sizing: border-box;
                                            font-size: 14px;
                                            line-height: 24px;
                                        }
                                    }
                                }
                                .button{
                                    align-self: center;
                                    margin-left: auto;
                                    div{
                                        float: right;
                                        width: 54px;
                                        height: 54px;
                                        position: relative;
                                        border: none;
                                        padding: 0;
                                        overflow: hidden;
                                        cursor: pointer;
                                        color: $backgroud;
                                        background: transparent;
                                        transition: all .25s ease-in-out 0ms;
                                    }
                                    div:before {
                                        content: "";
                                        background: hsla(0,0%,100%,.15);
                                        border-radius: 50%;
                                        width: 24px;
                                        height: 24px;
                                    }
                                    svg{
                                        position: absolute;
                                        left: 22%;
                                        top: 50%;
                                        -ms-transform: translate(-50%,-50%);
                                        transform: translate(-50%,-50%);
                                        width: 14px;
                                        height: 14px;
                                    }
                                    div:hover:before {
                                        background: $backgroud;
                                    }
                                }
                            }
                            .bets{
                                .remove{
                                    width: 70px;
                                    display: flex;
                                    justify-content: flex-start;
                                    cursor: pointer;
                                    background: transparent;
                                    color: $backgroud;
                                    border: none;
                                    padding: 0;
                                    line-height: 30px;
                                    height: 30px;
                                    font-size: 12px;
                                }
                                .potentialwin{
                                    width: calc(100% - 70px);
                                    display: flex;
                                    justify-content: flex-end;
                                    font-size: 13px;
                                    text-align: right;
                                    color: #888;
                                    margin: 5px 0 0;
                                    .sum{
                                        text-align: right!important;
                                        white-space: nowrap!important;
                                        .number{
                                            font-size: 14px;
                                        }
                                    }
                                }
                                border-top: 1px solid #31373f;
                                list-style: none;
                                
                                .event{
                                    padding: 10px 15px;
                                    .title{
                                        font-size: 13px;
                                        color: white;
                                    }
                                    .type{
                                        font-size: 12px;
                                        color: #888;
                                    }
                                    .target{
                                        display: -ms-flexbox;
                                        display: flex;
                                        -ms-flex-flow: row;
                                        flex-flow: row;
                                        -ms-flex-wrap: nowrap;
                                        flex-wrap: nowrap;
                                        font-weight: 700;
                                        font-size: 14px;
                                        line-height: 16px;
                                        padding-top: 5px;
                                        .team{
                                            color: #fff;
                                            flex: 1 1 auto;
                                        }
                                        .animate{
                                            -ms-flex: 0 0 auto;
                                            flex: 0 0 auto;
                                            color: $backgroud;
                                            margin: 0 0 0 auto;
                                            padding-left: 10px;
                                            
                                        }
                                        .BetInput{
                                            display: flex;
                                            -webkit-box-align: center;
                                            align-items: center;
                                            -webkit-box-pack: center;
                                            justify-content: center;
                                            input:focus{
                                                padding: 1px 2px !important;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                    
                    .height-100{
                        height : 100% !important
                    }
                    .overflow-auto{
                        overflow : auto
                    }
                    .sport-1{
                        // margin: 5px; 
                        display : flex; 
                        flex:1; 
                        align-items:center
                    }
                    .sport-2{
                        display:inline-block;
                        width:57px;
                        height:90px;
                        margin-right:5px;
                        cursor:pointer;
                    }
                    .sport-3{
                        border-radius:25%;
                        margin-top:0px
                    }
                    .sport-4{
                        padding:2px;
                        text-align:center;
                        word-break: break-word;
                        font-size:0.7rem
                    }
                    
                    .bet-cashout{
                        border: 2px solid #28c76f !important;
                        color: white !important;
                        background : none !important
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 50%;
                }
            }
            div:hover{
                cursor: pointer;
                border-radius: 5px;
                border: $border-color 1px solid;
            }
        }
    }
}

.sports-event{
    background: $sports-background;
    // height: calc(100% - 145px);
}

.bazaaritem:hover{
    background-color: $sports-background2;
    animation: 1s background-color linear infinite;
}
.sports-country-title{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    div{
        display: inline-block;
    }
    svg{
        color: $graycolor !important;
    }
}

.sports-country-length{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.sports-country{
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: $border-color 1px solid;
    border-bottom: $border-color 1px solid;
    svg{
        // color: $fontColor1;
        stroke-width: 3;
    }
    .sports-country-name{
        color: $graycolor !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sports-country-length{
        color: $graycolor !important;
        // color: $fontColor1 !important;
    }
    .React{
        border:1px solid #7367f0;
    }
    .add-new-btn{
        float:right;
        color : white;
        width : 100%;
        span{
            color : white
        }
    }
}
.sports-tab-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}
.sports-country-active{
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: $border-color 1px solid;
    border-bottom: $border-color 1px solid;
    svg{
        color: $backgroud !important;
        stroke-width: 3;
    }
    .sports-country-name{
        color: white !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sports-country-length{
        color: $fontColor2 !important;
    }
}

.sports-featured-back{
    max-height: 40px;
    padding:5px 1rem;
    background: $sports-background1;
    border-bottom: $border-color 1px solid;
    border-top: $border-color 1px solid;
    .sports-featured-home{
        // color: $fontColor1 !important;
        color: $graycolor;
    }
    .sports-featured-active-button{
        color: $backgroud !important;
    }
    span{
        font-size: 0.8rem;
        cursor: pointer;
    }
    svg{
        // color: $fontColor1 !important;
        color: $graycolor;
    }
}
.children-tab:hover{
    color: $fontColor2 !important;
    transition: transform 1s ease;
    div{
        animation-duration: 0.1s; 
        animation-name: width-animation;
        animation-fill-mode: forwards;
        border:1px solid $backgroud !important;
    }
}
@keyframes width-animation {
    100% {
      width: 100%;
    }
  }

.children-tab-active{
    color: $fontColor2 !important;
    div{
        border : 1px solid $backgroud !important;
        width: 100% !important;
    }
}
.children-tab{
    // color: $fontColor1;
    color: $graycolor;
    cursor: pointer;
    // padding-bottom: 10px !important;
    display: inline-block;
    div{
        border :'none';
        width: 0px;
    }
}

.sports-content{
    padding-top: 10px;
}


.sports-events{
    .sports-events-title{
        background-color: $sports-background1;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        // padding: 0.75rem 1rem;
        padding: 0.5rem;
        color: $fontColor2;
        .lastcategory{
            color: $backgroud !important;
        }
        .symbol{
            padding: 0rem 0.5rem;
        }
    }
    .sports-country-active{
        margin-left: 2px;
        margin-right: 2px;
        display: flex;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: $backgroud  2px solid;
        border-bottom: $border-color 0px solid;
        svg{
            color: $fontColor1;
            stroke-width: 3;
        }
        .sports-country-name{
            color: $fontColor2 !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .sports-country-length{
            color: $fontColor2 !important;
        }
    }

    .sports-country-title{
        justify-content: flex-start;
        display: flex;
        align-items: center;
        div{
            display: inline-block;
        }
    }
    .sports-events-items{
        cursor: pointer;
        text-align: center;
        padding: 5px;
        margin: 3px 0px;
        border-radius: 2px;
        background-color: $sports-background1;
        .OutcomeName{
            color: $fontColor2;
            font-size: 0.9rem;
        }
        .OutcomeOdds{
            margin: 0.5rem;
            color: $backgroud;
            font-size: 0.8rem;
        }
    }
    .sports-events-items:hover{
        background-color: $sports-background2;
        animation: 1s background-color linear infinite;
    }
    .sports-events-items-active{
        background-color: $backgroud !important;
        .OutcomeOdds{
            color: $fontColor2 !important;
        }
    }
    .exchg-events-items{
        cursor: pointer;
        text-align: center;
        padding: 5px;
        margin: 3px 0px;
        border-radius: 2px;
        background-color: $sports-background1;
        span{
            color: white;
            font-size: 11px;
        }
    }
    .sports-events-content{
        text-align:center;
        color:white;
        font-size:2rem;
    }
}

.sports-bet-sidebar{
    .w-100{
        div{
            width: 100% !important;
        }
    }
    .u-color-piccolo{
        color: $backgroud !important;
    }
    .betslip{
        will-change: transform;
        box-sizing: border-box;
        padding: 20px 0 0;
        margin: 0;
        line-height: 20px;
        position: fixed;
        z-index: 100000;
        right: 20px;
        bottom: 0;
        top: 0;
        width: 300px;
        -ms-flex-pack: end;
        justify-content: flex-end;
        overflow: hidden;
        .wrapper{
            will-change: transform;
            position: absolute;
            // left: 0px;
            // right: 20px;
            width: 100%; 
            bottom: 0;
            max-height: calc(100% - 80px);
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -ms-flex-flow: column;
            flex-flow: column;
            transition: all .25s ease-in-out 0ms;
            border-top: 3px solid $backgroud;
            box-shadow: 0 0 20px 5px rgba(0,0,0,.65);
            background: $sports-tab-background;
            -ms-transform: translateY(calc(100% + 20px));
            transform: translateY(calc(100% + 20px));
            opacity: 0;
        }
        .active {
            -ms-transform: translate(0);
            opacity: 1;
            transform: translate(0);
        }
        .u-bordercolor-piccolo{
            border-color: $backgroud !important;
        }
        .scrolllock{
            overflow-y: auto;
            overflow-x: hidden;
            .event-footer{
                display:flex;
                b{
                    display:flex;
                    color : red;
                }
            }
        }
        .betslip-tabs {
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row;
            flex-flow: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            height: 72px;
            .tab:hover{
                div{
                    border-bottom: solid 3px rgb(134, 151, 162);
                }
            }
            .tab{
                div{
                    border-bottom: solid 3px rgba(0, 0, 0, 0);
                }
            }
            .tab .active{
                color: $backgroud;
                border-bottom: solid 3px $backgroud !important;
                span{
                    background-color: $backgroud;
                }
            }
            li{
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                overflow: hidden;
                list-style: none;
                div{
                    text-transform: uppercase;
                    color: #fff;
                    padding: 0 15px 2px;
                    margin: 0;
                    background: transparent;
                    border: none;
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                    height: 72px;
                    font-size: 12px;
                    line-height: 25px;
                    letter-spacing: 1px;
                    display: flex;
                    font-weight: 700;
                    align-items: center;
                    .amount{
                        display: inline-block;
                        margin: -5px 0 -5px 5px;
                        background: hsla(0,0%,100%,.15);
                        color: #fff;
                        border-radius: 12px;
                        padding: 0 7px;
                        text-align: center;
                        min-width: 24px;
                        box-sizing: border-box;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
            .button{
                align-self: center;
                margin-left: auto;
                div{
                    float: right;
                    width: 54px;
                    height: 54px;
                    position: relative;
                    border: none;
                    padding: 0;
                    overflow: hidden;
                    cursor: pointer;
                    color: $backgroud;
                    background: transparent;
                    transition: all .25s ease-in-out 0ms;
                }
                div:before {
                    content: "";
                    background: hsla(0,0%,100%,.15);
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                }
                svg{
                    position: absolute;
                    left: 22%;
                    top: 50%;
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    width: 14px;
                    height: 14px;
                }
                div:hover:before {
                    background: $backgroud;
                }
            }
        }
        .bets{
            .remove{
                width: 70px;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                background: transparent;
                color: $backgroud;
                border: none;
                padding: 0;
                line-height: 30px;
                height: 30px;
                font-size: 12px;
            }
            .potentialwin{
                width: calc(100% - 70px);
                display: flex;
                justify-content: flex-end;
                font-size: 13px;
                text-align: right;
                color: #888;
                margin: 5px 0 0;
                .sum{
                    text-align: right!important;
                    white-space: nowrap!important;
                    .number{
                        font-size: 14px;
                    }
                }
            }
            border-top: 1px solid #31373f;
            list-style: none;
            
            .event{
                padding: 10px 15px;
                .title{
                    font-size: 13px;
                    color: white;
                }
                .type{
                    font-size: 12px;
                    color: #888;
                }
                .target{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-flow: row;
                    flex-flow: row;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    padding-top: 5px;
                    .team{
                        color: #fff;
                        flex: 1 1 auto;
                    }
                    .animate{
                        -ms-flex: 0 0 auto;
                        flex: 0 0 auto;
                        color: $backgroud;
                        margin: 0 0 0 auto;
                        padding-left: 10px;
                        
                    }
                    .BetInput{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                    }   
                }
            }
        }
    }
}

.height-100{
    height : 100% !important
}
.overflow-auto{
    overflow : auto
}
.sport-1{
    // margin: 5px; 
    display : flex; 
    flex:1; 
    align-items:center
}
.sport-2{
    display:inline-block;
    width:57px;
    height:90px;
    margin-right:5px;
    cursor:pointer;
}
.sport-3{
    border-radius:25%;
    margin-top:0px
}
.sport-4{
    padding:2px;
    text-align:center;
    word-break: break-word;
    font-size:0.7rem;
    color: $graycolor !important;
}
.sports-4-active{
    color: white !important;

}
.bet-cashout{
    border: 2px solid #28c76f !important;
    color: white !important;
    background : none !important
}

.odds_num{
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    // border:$border-color 1px solid !important;
    span{
        color: white;
        font-size: 11px;
    }
}
.active_odds_num{
    border:1px solid $backgroud !important;
}

.sportup {
    animation: sportupmove 3s;
    opacity: 0.8;    
}
.sportdown {
    animation: sportdownmove 3s;
    opacity: 0.8;
}

@keyframes sportupmove {
    0%   {
        background: #0293cc;
    }
    25%  {
        background: $sports-background;
    }
    50%  {
        background: #0293cc;
    }
    75%  {
        background: $sports-background;
    }
    100% {
        background: #0293cc;
    }
}

@keyframes sportdownmove {
    0%   {
        background: #ea5455;
    }
    25%  {
        background: $sports-background;
    }
    50%  {
        background: #ea5455;
    }
    75%  {
        background: $sports-background;
    }
    100% {
        background: #ea5455;
    }
}

.sportnavup {
    animation: sportnavupmove 3s;
    opacity: 0.8;    
}
.sportnavdown {
    animation: sportnavdownmove 3s;
    opacity: 0.8;
}

@keyframes sportnavupmove {
    0%   {
        background: #0293cc;
    }
    25%  {
        background: $sports-background;
    }
    50%  {
        background: #0293cc;
    }
    75%  {
        background: $sports-background;
    }
    100% {
        background: #0293cc;
    }
}

@keyframes sportnavdownmove {
    0%   {
        background: #ea5455;
    }
    25%  {
        background: $sports-background;
    }
    50%  {
        background: #ea5455;
    }
    75%  {
        background: $sports-background;
    }
    100% {
        background: #ea5455;
    }
}

.exchg-odd:hover {
    background-color: $sports-background2;
    animation: 1s background-color linear infinite;
}
.exchg-odd-active{
    background-color: $backgroud !important;
}

.priceboost{
    background-color: transparent !important;
    border: 1px solid $backgroud !important;
}

    
.priceboost:not([disabled]):not(.disabled):active{
    background-color: transparent !important;
} 

@media (max-width: 768px) {
    .sports-events,.sports-background{
        padding: 0px 1rem;
    }
    .menulist{
        .sports-tab-background{
            svg{
                margin: 1rem !important;
            }
        }
    }

    
}


@media (max-width: 360px) {
    .sports-background{
        padding: 0px 0rem !important;
    }
    .memu-search{
        padding: 0px 1rem !important;
    }
    .sports-bet-sidebar{
        .betslip{
            padding: 0 !important;
            left: 0px !important;
            width: 360px !important;
            .wrapper{
                max-height: 100%;
            } 
        }
    }
  

    .sports-events-items{
        width: 100%;
        height: 100%;
        margin: 0px !important;
        .OutcomeName{
            display: block !important;   
            white-space: nowrap;
            text-align: left !important;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8rem !important;
        }
        .OutcomeOdds{
            display: block !important;
            padding: 0px !important;
            margin: 0px !important;
            text-align: left !important;
        }
        .lockitem{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .menulist{
        padding: 0px 1rem !important;
        ::-webkit-scrollbar {
            width: 0px !important;
            height: 0px !important;
        }
        .sport-1{
            ::-webkit-scrollbar {
                width: 0px !important;
                height: 0px !important;
            }   
        }

            
    }
    .menubody{

    }

    .featuretitle{
        padding: 0px 1rem !important;
    }
}

